<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dashboard</title>
</head>
<body>
 <p th:text=" 'Welcome to GreytHR Portal : ' + ${user.userName} "></p>
 <p th:text=" 'Your password is ' + ${user.password} "></p>
 <a href="/home">Logout</a>
</body>
</html>