<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GreytHR</title>
</head>
<body>
    <h1>
        <!--<p th:text=" 'Welcome to GreytHR' + ${username}}"></p>-->
        <p>Welcome to GreytHR</p>

        <!--<form th:action="@{/signin}" th:object="${user}" method="post">-->
            <!--<label for ="username">Username</label>-->
            <!--<input type="text" name="username" th:field="*{username}">-->
            <!--<label for ="password">Password</label>-->
            <!--<input type="password" name="password" th:field="*{password}">-->
            <!--<input type="submit" value="Submit">-->
            <!--<input type="reset" value="Reset">-->
        <!--</form>-->
        <form action="#" th:action="@{/signin}" th:object="${user}" method="post">
            <p>Username: <input type="text" th:field="*{userName}" /></p>
            <p>Password: <input type="text" th:field="*{password}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </h1>
</body>
</html>